
@font-face {
  font-family: sans-serif;
  font-family: verdana;
}

body {
  background-color: black;
  align-content: center;
}

a {
  color: aquamarine;
  font-size: 16px;
  align-items: center;
}
h1{
  color: white;
}

footer{
  text-align: right;
  color: gray;
}
